<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>fbapi</string>
		<string>fbauth2</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSLocationWhenInUseUsageDescription
</key>
	<string></string>
	<key>FacebookAppID</key>
	<string>1687164004913264</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.kraze.fr</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>FacebookDisplayName</key>
	<string>Kraze</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1687164004913264</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Baron-Neue-Black-Italic.otf</string>
		<string>Baron-Neue-Black.otf</string>
		<string>Baron-Neue-Bold-Italic.otf</string>
		<string>Baron-Neue-Bold.otf</string>
		<string>Baron-Neue-Italic.otf</string>
		<string>Baron-Neue.otf</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Kraze</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
    
    <key>NSPhotoLibraryUsageDescription</key>
    <string>$(PRODUCT_NAME) uses photos</string>
</dict>
</plist>
